# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# build
build/debian/usr/bin/*
build/debian/var/cabby/schema.sql
build/cabby

# app
.env
config/cabby.json
!config/*example.json
!config/.env
*.crt
*.key
*.swp
*.db
coverage.txt
cover-*

# CLI
cmd/cabby-cli/cabby-cli
cmd/cabby-cli/cabby-cli.db

# Vagrant
.vagrant
*.log
packages/
*.deb
